.about {
    padding: 4rem 2rem;
    background-color: black;
    font-weight: 500;

  }
  .section-title {
    color: #ffcc00; /* Color dorado para el texto */
    text-align: center;
    font-size: 2rem;
    margin-top: 8rem;
    text-shadow: 
      0 0px 10px rgba(255, 215, 0, 0.8), 
      0 4px 20px rgba(255, 215, 0, 0.6),  
      0 6px 12px rgba(255, 215, 0, 0.4); 
  }
  
  .about-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    align-items: center;
  }
  .about-image {
    width: 100%;
    max-width: 250px;
    border-radius: 50%;
    margin: 0 auto;
  }
  .about-text {
    color: #ccc;
    line-height: 1.6;
    text-align: center;
  }
  @media (min-width: 768px) {
    .about-content {
      grid-template-columns: 1fr 2fr;
      text-align: left;
    }
    .about {
      height: 36rem;
    }
  }
  @media(max-width: 500px){
    .section-title {

      font-size: 1.5rem;

    }
  }	    



  