.projects {
    padding: 4rem 2rem;
    background-color: black;
  }
  .section-title {
    color: #ffcc00;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
  }
  .project-card {
    background-color: #222;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: transform 0.3s;
  }
  .project-card:hover {
    transform: scale(1.05);
  }
  .project-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .project-details {
    padding: 0.5rem;
  }
  .project-title {
    color: #ffcc00;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  .project-description {
    color: #ccc;
    margin-bottom: 1rem;
  }
  .project-link {
    display: inline-block;
    background-color: #ffcc00;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  .project-link:hover {
    background-color: #ffa500;
  }
  .section-title3 {
    color: #fbfbfb;

  }

  
  .visit-button {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 14px;
  background: #4f46e5;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 500;
}

.visit-button:hover {
  background: #4338ca;
}
.project-video {
  width: 100%;
  height: 270px;
  object-fit: cover;
  border-radius: 12px;
  background: black;
}
